.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  border: 2px solid #aaa;
  background-color: #ecc8c8;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 40px;
  font-family: 'Arial', sans-serif;
  color: #383838;
  cursor: crosshair;
  margin: auto;
}

/* Untuk dark mode */
@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #9c5858;
    --button-secondary-hover: #fffefe;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px; /* kecilin gap */
  grid-row-start: 2;
  width: 100%;
}

/* Style untuk tombol "Tambah Prodi" */
.button {
  background-color: #bc82ea;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-bottom: 8px; /* tambahan, biar button ada jarak dikit */
}

/* Table */
.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main table {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 80%; /* supaya lebih ramping */
  color: #444;
}

.main th, .main td {
  border: 1px solid var(--gray-alpha-200);
  padding: 12px;
  text-align: center;
  border: 1px solid #ccc;
}

/* Style tombol edit dan hapus */
.ctas {
  display: flex;
  gap: 8px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 40px;
  padding: 0 16px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
}

a.secondary {
  border-color: var(--gray-alpha-200);
}

/* Footer */
.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

/* Responsive */
@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }
  
  .main {
    align-items: center;
  }
  
  .main table {
    width: 100%;
  }
}